<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Costco Intership Modules</title>
    <link rel="stylesheet" href="https://stackedit.io/res-min/themes/base.css" />
    <link href="css/blog-home.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Costco Internship JavaScript Modules</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Modules <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#module-0-javascript-functions">Module 0</a></li>
                <li><a href="#module-1-get-your-ass-ets-over-here">Module 1</a></li>
                <li><a href="#module-2-dependencies-and-load-order">Module 2</a></li>
                <li><a href="#module-3-synchronous-vs-asynchronous">Module 3</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>
<blockquote class='text-center chuckquote'>
    Remember,
    <p id='chuck'>Waiting for interesting fact about Chuck Norris..</p>
</blockquote>    

<div class="container">
<h1 class='text-center' id="module-0-javascript-functions">Module 0: Javascript Functions</h1>

<hr>

<p>JavaScript has no relation to Java, it simply piggy backed off the popularity of Java during the 90’s. The great thing about JavaScript (and most object oriented languages) is that the language skills you develop while writing code end up transcending language barriers. You can use the object-oriented abstraction and apply it to other languages such as Java, JavaScript, C#, C++, Python, PHP, Ruby and Objective-C for example.</p>

<p>In JavaScript, functions are the primary work horses of the language. They are roughly equivalent to <strong>methods</strong> in Java. Functions in JS are actually <strong>Function Objects</strong>. When you declare a function like this: </p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// a. function declaration</span>
<span class="hljs-keyword">var</span> sum = <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(a,b)</span> {</span>
    <span class="hljs-keyword">return</span> a+b;
};
<span class="hljs-comment">// b. function expression (equivalent to a.)</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">sum</span><span class="hljs-params">(a,b)</span> {</span>
    <span class="hljs-keyword">return</span> a+b;
}</code></pre>

<p>You’re actually creating an object of type Function. Your new function,  <code>sum</code>, is a Function Object. All Objects in JS have what is called a <strong>prototype</strong> object. Formally, JS implements <strong>prototypical inheritance</strong>; meaning when you create a Object, you inherit all of the functions and properties defined in the <strong>protoypical chain</strong> describing that Object. </p>



<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// sum --&gt; Function.prototype --&gt; Object.prototype --&gt; null</span>
<span class="hljs-comment">// null represents the end of the prototypical chain.</span></code></pre>

<p>Because you’ve created <code>sum</code>, which has the type <em>Function</em>, you now inherit all of the methods and properties defined on Function’s prototypical chain. This includes Object.prototype because Function inherits from Object.  For example:</p>



<pre class="prettyprint"><code class="language-js hljs ">sum.length 
<span class="hljs-comment">// outputs 2 - The length property specifies the number of arguments expected by the function. Its defined on Function.prototype</span>
sum.hasOwnProperty()
<span class="hljs-comment">// outputs false - hasOwnProperty is defined in Object.prototype. You have access to it because sum inherits from Object.prototype</span></code></pre>

<p>We won’t be dealing with the prototypes because they require some experience to leverage.</p>



<h3 id="task-1-write-a-couple-functions">Task 1: write a couple functions</h3>

<hr>

<ol>
<li><p>Open a new tab in your browser and navigate to the URL <code>http://127.0.0.1:3000/intern</code>. You should land on the page that says, “Hello, Costco Intern!”</p></li>
<li><p>Go into the folder structure <strong>CostcoInternshipJS</strong> and find <code>intern.js</code> here: <code>~\Desktop\CostcoInternshipJS\js\intern.js</code>. Also, find  <code>intern.html</code> here: <code>~\Desktop\CostcoInternshipJS\views\intern.html</code>. Open these in your favorite text editor. I love <em>Sublime Text</em> and <em>Notepad++</em>. You can easily google and get one of these editors.</p></li>
<li><p>Below the comments in <code>intern.js</code>, define a couple functions that</p>

<p><strong>a.</strong> Sum a series. Write a function that takes a single argument, an integer <strong>n</strong>, and successively sums the series of numbers (beginning with 0) up until <strong>n</strong>. </p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// example output: sum(5) = 0+1+2+3+4+5 = 15</span></code></pre>

<p><strong>b.</strong> Sum only odd numbers. Write a function that takes a single argument, an integer <strong>n</strong>, and successively sums the odd series of numbers (beginnign with 0) up until <strong>n</strong>.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// example output: sum(5) = 0+1+2+3+4+5 = 9</span></code></pre></li>
<li><p>Test your functions by refreshing the page in your browser (url is <code>http://127.0.0.1:3000/intern</code>). Hit F12 in Google Chrome. This opens the Chrome Developer Tools. Now press <code>Ctrl+P</code> and type <code>intern.js</code>. Select this file and see your new functions defined in the interpreter. If the <code>console</code> (a place to type and call code) isn’t open, in the top right, click <code>open drawer</code> and the <code>console</code> should appear. Type the name of your function and a give it a parameter:</p>

<pre class="prettyprint"><code class="language-js hljs ">kurtsSum(<span class="hljs-number">5</span>) <span class="hljs-comment">// = 15</span></code></pre></li>
</ol>



<h3 id="task-2-move-your-functions-into-their-own-namespace">Task 2: move your functions into their own namespace</h3>

<hr>

<p>A namespace collision happens when a script happens to have the same name for an Object that a different script that you’ve loaded has.</p>



<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// from script1.js</span>
<span class="hljs-keyword">var</span> work = <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span> 
    <span class="hljs-comment">// do some work</span>
}

<span class="hljs-comment">// from script2.js</span>
<span class="hljs-keyword">var</span> work = <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
    <span class="hljs-comment">// do some work</span>
}

<span class="hljs-comment">// namespace collision of the Function Object work between script1.js and script2.js. The interpreter may pick the wrong function when you call work();</span></code></pre>

<p>Namespace collisions are a real hazard in a modern web application. We can limit these potential hazards by giving a unique namespace to a cohesive body of work. This effectively becomes a <strong>module</strong>. Costco’s implementation of a modular pattern in its mobile project not only stops namespace collision but increases portability, readability, and gives a logical structure to a body of work.</p>



<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> SumModule = {
    sumOfSeries : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(n)</span> {</span>
        <span class="hljs-comment">// sum the series 0..n</span>
    },
    sumOddNumbers : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(n)</span> {</span>
        <span class="hljs-comment">// sum the odd series 0..n</span>
    }
}</code></pre>

<p>This represents a <strong>object literal</strong> module pattern. We can now call our functions like this:</p>



<pre class="prettyprint"><code class="language-js hljs ">SumModule.sumOfSeries(<span class="hljs-number">5</span>) <span class="hljs-comment">// outputs 15</span></code></pre>

<p>This is a logical structure for a module that has the functionality of summing a series of numbers in different ways.  The <code>{}</code> defines an Object. You can define properties on this Object. You can access these properties by using the reference <code>SumModule</code> and period <code>.</code>, followed by the name of the property you’d like to access.</p>

<ol>
<li><p>Move your functions into a object literal module with a unique namespace.</p></li>
<li><p>In the Chrome Dev Tools, call your functions using the module that you made.</p></li>
</ol>

<h1 class='text-center' id="module-1-get-your-ass-ets-over-here">Module 1: Get your ass-ets over here.</h1>

<hr>

<p>“A <strong>content delivery network</strong> (<strong>CDN</strong>) is a system of distributed servers (network) that deliver webpages and other Web content to a user based on the geographic locations of the user, the origin of the webpage and a content delivery server.” -Google</p>

<p>Google is sweet. We all know this. Google provides their own CDN for delivering commonly used assets to web developers. The above quote explains what a CDN is in a nutshell. Typically a server that is part of a CDN is <em>specialized</em> in delivering static assets. </p>

<p>Why would I want a file from somebody elses server? Simply put, requesting a resource from somebody else’s web server means less work for your own web server. We’re all about saving bandwidth in the web application business. It means less CPU usage, less third party’s charge for caching, and ultimately, faster web applications. </p>

<p>Lets look at some common assets (CSS and JavaScript files) provided by Google:</p>

<p>Everybody and their mother uses this CDN asset: jQuery. <br>
<a href="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js</a></p>

<p>If you click on the above link, you’ll make a request to Google’s ajax subdomain ajax.googleapis.com asking for the script <code>jquery.min.js</code>. Google will return the minified script as the response and you can then leverage a really nifty library known as jQuery. </p>

<p>For good measure, here is a CSS file (Cascading Style Sheet) from a different CDN provider: <br>
<a href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css</a></p>

<p>Similarly, when you click on this link, maxcdn returns you the CSS file you requested as a minified CSS file.</p>

<p>What happens when you can’t reach a remote file like the above two? Well, its good practice to keep a local copy that your own web server can serve to the user in case Google’s URL breaks.  Typically a static file’s relative path look something like this: <code>CostcoInternshipJS/js/intern.js</code>. <code>/js/</code> designates the JavaScript directory that we keep all of our JavaScript organized in.</p>



<h3 id="task-1-dynamically-retrieving-css-from-a-cdn-using-javascript">Task 1: dynamically retrieving CSS from a CDN using JavaScript.</h3>

<hr>

<p>So our <code>intern.html</code> page looks pretty ugly, right? We need to fetch the styles sheet (CSS) to support the front end framework we’re leveraging named <em>Twitter Bootstrap</em>. Twitter Bootstrap was developed by.. Twitter developers and it offers a beautiful user interface (UI) for stylistically challenged developers like me. We have the proper HTML attributes in place, we just need the CSS and JavaScript. First the CSS, though.</p>

<p>There are a couple of ways of doing this. Typically people like to include CSS directly in the <code>&lt;head&gt;</code> element of their HTML like this:</p>

<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">"stylesheet"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"</span>&gt;</span></code></pre>

<p>This is totally fine to do. When the HTML gets rendered by the browser, the styles will be included and things will look pretty. One small problem. This is a sort of speed bump that the browser has to get over before getting to the point where it tells our scripts: “Hey, I’m ready for you to manipulate me.” (That’s not weird, right?). The faster we can produce the document object model (the interpreted tree generated by the browser reading the HTML) to our scripts, the faster the speed of our web application. On top of the speed, Google will score your page higher based on this concept alone.</p>

<p>Although we don’t do this on Costco.com/.ca, we’re going to do it for our project. I’ll go through using native JavaScript to dynamically fetch a file that doesn’t block the rendering process.</p>

<ol>
<li><p>We need a function.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// write this intern.js</span>
<span class="hljs-comment">// boilerplate empty function declaration with two parameters: source and type</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getFile</span><span class="hljs-params">(source, type)</span> {</span>

}</code></pre></li>
<li><p>We need the endpoint URL to the CDN asset that we want. In this case, its the bootstrap CSS file. The endpoint is <code>https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css</code>.</p></li>
<li><p>Define the body of the function.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getFile</span><span class="hljs-params">(source, type)</span> {</span>
    <span class="hljs-comment">// document.createElement creates a element of a specific tag</span>
    <span class="hljs-comment">// In this case, we need a `link`.</span>
    <span class="hljs-keyword">var</span> element = document.createElement(<span class="hljs-string">'link'</span>);

    <span class="hljs-comment">// Head is a reference to the &lt;head&gt; tag in the DOM.</span>
    <span class="hljs-keyword">var</span> head = document.getElementsByTagName(<span class="hljs-string">'head'</span>)[<span class="hljs-number">0</span>];

    <span class="hljs-comment">// Set the link element's type attribute to 'text/css' </span>
    element.type = <span class="hljs-string">'text/css'</span>;

    <span class="hljs-comment">// Set the link element's rel attribute to 'stylesheet'</span>
    element.rel = <span class="hljs-string">'stylesheet'</span>;

    <span class="hljs-comment">// Set the link element's href attribute to `source` argument</span>
    <span class="hljs-comment">// which is a dynamic parameter set when calling our function.</span>
    element.href = source;

    <span class="hljs-comment">// Append (or insert) this element into the &lt;head&gt;</span>
    head.appendChild(element);  
}</code></pre>

<p>Sweet. You’ve essentially created a dynamic way of retrieving a CSS file from a <code>source</code> without blocking the rendering of the page</p></li>
<li><p>Now we need to call our function using the CDN resource from step 2. Go to your workspace: <code>http://127.0.0.1:3000/intern</code> and refresh. Find our function by typing <code>CTRL+P</code> and then <code>intern.js</code>. You should see it defined. Now call the function from the <code>console</code>:</p>

<pre class="prettyprint"><code class="language-js hljs ">getFile(<span class="hljs-string">'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'</span>);</code></pre>

<p>Now that’s a little better! The page doesn’t look so newb anymore but its not perfect. If you <code>Right Click</code> and <code>Inspect Element</code>, find the <code>&lt;head&gt;</code> element and look closely you’ll see that you’ve successfully allocated a style sheet. You should see this in the head:</p>

<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text/css"</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">"stylesheet"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"</span>&gt;</span></code></pre>

<p>This bootstrap template requires some more CSS not located in the CDN resource. The local file is located at: <code>CostcoInternshipJS/css/cover.css</code>. We need the file <code>cover.css</code> as well. Lets use our function</p>

<pre class="prettyprint"><code class="language-js hljs ">getFile(<span class="hljs-string">'/css/cover.css'</span>);</code></pre>

<p>Damn, that’s pretty.</p></li>
</ol>

<h3 id="task-2-dynamically-retrieving-javascript-from-a-cdn-using-javascript">Task 2: dynamically retrieving JavaScript from a CDN using JavaScript.</h3>

<hr>

<p>Now that we have a pattern for retrieving CSS using our <code>getFile</code> function, lets reuse the same function to retrieve some JavaScript from a CDN.  Let’s just go ahead and get jQuery. jQuery is a framework for <em>querying</em> the DOM using less characters in our code. For example:</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// Native JavaScript</span>
<span class="hljs-keyword">var</span> element = document.getElementById(<span class="hljs-string">'someElementId'</span>);</code></pre>

<p>Compare this to:</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// Using the jQuery framework</span>
<span class="hljs-keyword">var</span> element = $(<span class="hljs-string">'#someElementId'</span>);</code></pre>

<p>The jQuery <strong>selector</strong> <code>$('')</code> is a powerful abstraction that can significantly reduce the amount of code a developer has to write to achieve something. The above example is trivial, however, because it doesn’t really demonstrate the power of jQuery. Here’s some HTML:</p>



<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">'list'</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>Chuck Norris<span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span>&gt;</span>Bruce Lee<span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>

<p>The above data structure represents an unordered list of the names “Chuck Norris” and “Bruce Lee”. Say I want to do something dumb like create a function that retrieves the names. I’ll demonstrate this using native JavaScript and jQuery.</p>



<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// Native JavaScript function to return the names as an array that can be used later</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getNames</span><span class="hljs-params">(className)</span> {</span>
    <span class="hljs-keyword">var</span> classList = document.getElementsByClassName(className);
    <span class="hljs-keyword">var</span> names = [];
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i &lt; classList.length; i++) {
        <span class="hljs-keyword">var</span> listItems = classList[i].children;
        <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> j = <span class="hljs-number">0</span>; j &lt; listItems.length; j++) {
            names.push(listItems[j].innerHTML);
        }
    }
    <span class="hljs-keyword">return</span> names;
}
getNames(<span class="hljs-string">'list'</span>); <span class="hljs-comment">// returns an array of strings ["Chuck Norris", "Bruce Lee"]</span></code></pre>

<p>Here you have a loop and a nested loop to do the simple task of retrieving those values. Compare that with the jQuery equivalent:</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// jQuery implementation of the same function</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getNames</span><span class="hljs-params">(className)</span> {</span>
    <span class="hljs-keyword">var</span> names = [];
    $(<span class="hljs-string">'.'</span>+className+<span class="hljs-string">' li'</span>).each(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(i, elem)</span> {</span>
        names.push(elem.innerHTML);
    });
    <span class="hljs-keyword">return</span> names;
}
</code></pre>

<p>The jQuery selector allows you to select put the <code>li</code> element (the descendent of <code>&lt;ul class='list'&gt;</code>) directly in the selector aka <code>$('.list li')</code>. So you immediately have access to the list items. There is no need for the nested loop to retrieve the <code>li</code> elements.</p>

<p>So why would you ever want to write native JavaScript? Because it executes <strong>MUCH</strong> faster! Fan boys will always argue readability of code and the expressivity jQuery offers over writing native JavaScript. They’re right and wrong. Readability and expressivity are important, but so is performance. The end user is not a developer.</p>

<p>I’m one of those weird elitists who likes performance, however, I’ll admit that learning JavaScript can more easily be learned by learning jQuery. So lets get it.</p>

<ol>
<li><p>Refactor your <code>getFile(source, type)</code> function from the previous file to accept a type of either <code>'css'</code> or <code>'script'</code>. You’ll need to use a Boolean conditional operator to check the value of the parameter <code>type</code> and adjust your code accordingly.</p></li>
<li><p>Now that your function is ready to append a script to the <code>&lt;head&gt;</code>, include jQuery using this CDN endpoint <a href="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js</a>.</p></li>
<li><p>Write a function, <code>changeLead(text)</code> using the jQuery selector to change the lead text inside <code>intern.html</code> from <code>Will you please style me? I feel so naked without my styles.</code> to <code>I have my styles now, I'm so comfy and warm</code>.</p></li>
<li><p>Create a Object Literal Module to encapsulate your <code>getFile</code> and <code>changeLead</code> functions. Call the Object <code>DOMUtils</code>. Experiment calling your <code>changeLead</code> function from the <code>DOMUtils</code> module.</p></li>
</ol>

<h1 id="module-2-dependencies-and-load-order">Module 2: Dependencies and Load Order</h1>

<hr>

<p>This module will discuss the importance of loading JavaScript assets in the right order based on their dependencies. A JavaScript dependency means that your script is <em>dependent</em> on a particular JavaScript asset to be loaded before running correctly. This is an important thought to keep in your mind while you develop your application as having access to your dependencies is essential.</p>

<p>So far our <code>intern.js</code> file should look something like this:</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> SumModule = {
    sumSeries : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(n)</span> {</span>
        <span class="hljs-keyword">var</span> total = <span class="hljs-number">0</span>;
        <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i &lt;= n; i++) {
            total += i;
        }
        <span class="hljs-keyword">return</span> total;
    },
    sumOddSeries : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(n)</span> {</span>
        <span class="hljs-keyword">var</span> total = <span class="hljs-number">0</span>;
        <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i &lt;= n; i++) {
            <span class="hljs-keyword">if</span> (i % <span class="hljs-number">2</span> == <span class="hljs-number">1</span>) {
                total += i;
            }
        }
        <span class="hljs-keyword">return</span> total;
    }
}
<span class="hljs-keyword">var</span> DOMUtils = {
    getFile : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(source, type)</span> {</span>
        <span class="hljs-keyword">var</span> head = document.getElementsByTagName(<span class="hljs-string">'head'</span>)[<span class="hljs-number">0</span>],
            element = <span class="hljs-literal">null</span>;
        <span class="hljs-keyword">if</span> (type == <span class="hljs-string">'css'</span>) {
            element = document.createElement(<span class="hljs-string">'link'</span>); 
            element.type = <span class="hljs-string">'text/css'</span>;
            element.rel = <span class="hljs-string">'stylesheet'</span>;
            element.href = source;
        } <span class="hljs-keyword">else</span> {
            element = document.createElement(<span class="hljs-string">'script'</span>);
            element.src = source; 
        }
        head.appendChild(element);  
    },
    changeLead : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(text)</span> {</span>
        $(<span class="hljs-string">'#lead-text'</span>).html(text);
    }
}</code></pre>

<p>Can you spot the dependency? Because the <code>changeLead</code> function leverages jQuery, it is <em>dependent</em> on jQuery being loaded to your page before it can be executed. So what do we do? The simple answer is to <em>not</em> use jQuery but that’s slightly naive to assume you’ll not need to use it. Especially if you’re coming onto Costco (or some other company) that does leverage jQuery. Lets make a small loader function that can load all of our assets in the proper order.</p>

<h3 id="task-1-create-a-loader-for-loading-our-dependencies">Task 1: Create a loader for loading our dependencies</h3>

<hr>

<p>An <strong>Array</strong> in JavaScript is a data structure that can hold a series of multi-value elements. We make arrays in a couple of different ways.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// Using the Array constructor - looks similar to Java</span>
<span class="hljs-keyword">var</span> coolDudes = <span class="hljs-keyword">new</span> <span class="hljs-built_in">Array</span>(<span class="hljs-string">"Chuck Norris"</span>, <span class="hljs-string">"Bruce Lee"</span>);

<span class="hljs-comment">// Using Array literal notation - equivalent to the above; just short hand</span>
<span class="hljs-keyword">var</span> coolDudes = [<span class="hljs-string">"Chuck Norris"</span>, <span class="hljs-string">"Bruce Lee"</span>];

<span class="hljs-comment">// Implicitly creating an array - the function `split` returns an array.</span>
<span class="hljs-keyword">var</span> stringOfDudes = <span class="hljs-string">"Chuck Norris-Bruce Lee"</span>;
<span class="hljs-keyword">var</span> coolDudes = stringOfDudes.split(<span class="hljs-string">'-'</span>);</code></pre>

<p>We need to define a new function that we can call when we arrive at our web application (<code>intern.html</code>). I’m sick of having to call our function <code>getFile</code> every time I want to look at our pretty version of <code>intern.html</code>. </p>

<ol>
<li><p>Define a function on <code>DOMUtils</code> called <code>loadAssets(assets)</code> that accepts an array of objects that will represent our list of  assets that we need to load.</p>

<pre class="prettyprint"><code class="language-js hljs ">loadAssets : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(assets)</span> {</span>
    <span class="hljs-comment">// get our assets</span>
}</code></pre></li>
</ol>

<p>We need to once again refactor our <code>getFile</code> function so that it accepts an <strong>Event Listener</strong>. <em>Events</em> are “things” that happen to HTML elements. When JavaScript is used in HTML pages, JavaScript can “react” on these events. We’re going to leveraging the native function, <code>document.addEventListener</code> to attach a “onload” event to the assets we dynamically fetch with our <code>getFile</code> function.</p>

<p>In this context, we need to make sure that jQuery is loaded before we do anything that involves calling the <code>changeLead</code> function as part of our script.  Refactor your <code>getFile</code> function to accept a <strong>callback</strong> function and to use <code>document.addEventListener</code>.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// Delta (change) to parameters list</span>
getFile : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(source, type, callback)</span> {</span> 
    <span class="hljs-keyword">var</span> head = document.getElementsByTagName(<span class="hljs-string">'head'</span>)[<span class="hljs-number">0</span>],
        element = <span class="hljs-literal">null</span>;
    <span class="hljs-keyword">if</span> (type == <span class="hljs-string">'css'</span>) {
        element = document.createElement(<span class="hljs-string">'link'</span>); 
        element.type = <span class="hljs-string">'text/css'</span>;
        element.rel = <span class="hljs-string">'stylesheet'</span>;
        element.href = source;
    } <span class="hljs-keyword">else</span> {
        element = document.createElement(<span class="hljs-string">'script'</span>);
        <span class="hljs-comment">// Delta - adding load event if the callback gets passed.</span>
        <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> callback !== <span class="hljs-string">'undefined'</span>) {
            element.addEventListener(<span class="hljs-string">'load'</span>, callback); 
        }
        element.src = source; 
    }
    head.appendChild(element);  
}</code></pre>

<p>“A callback function, also known as a higher-order function, is a function that is passed to another function (let’s call this other function “otherFunction”) as a parameter, and the callback function is called (or executed) inside the otherFunction. A callback function is essentially a pattern (an established solution to a common problem), and therefore, the use of a callback function is also known as a callback pattern.” -javascriptissexy.com</p>

<p>So this essentially sums up what we’re doing with the <em>callback function</em>. We’re literally calling our function <code>getFile</code> with three parameters: <code>source</code>, a string, <code>type</code>, a string, and <code>callback</code>, which is a function. The callback function will get executed when the asset we’ve allocated into the <code>&lt;head&gt;</code> tells us, “Hey I’m done loading”.</p>

<p>Naturally we’ll have to define the callback. Define it on the <code>DOMUtils</code> module.</p>

<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-comment">// We execute this function on the load event of an asset</span>
<span class="hljs-comment">// We it fires, we're safe to execute our jQuery dependent function.</span>
jQueryLoaded : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
    DOMUtils.changeLead(<span class="hljs-string">"I have my styles now, I'm so comfy and warm"</span>);
}</code></pre>

<p>Now lets go back to our <code>loadAssets</code> function. We’re going to pass an array of objects representing our assets to this guy. We know the parameter <code>assets</code> is an Array because we’re defining it that way. We can then use functions on the <code>Array.prototype</code> Object to help us. In this instance, we’ll use a <strong><code>forEach</code></strong> function on the <code>asset</code> array. Its really just shorthand for using a <strong>for loop</strong>.</p>

<pre class="prettyprint"><code class="language-js hljs ">loadAssets : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(assets)</span> {</span>
    assets.forEach(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(assetObj)</span> {</span> 
        DOMUtils.getFile(assetObj.source, assetObj.type, assetObj.callback);
    });
}</code></pre>

<p>So how do we use this function? Well, remember <code>loadAssets</code> is going to take an <em>Array of Objects</em> which means it’ll have a structure like this:</p>



<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> assets = 
    [
        {source: <span class="hljs-string">'cdn endpoint'</span>, type: <span class="hljs-string">'script or css'</span>, callback: DOMUtils.jQueryLoaded},
        {source: <span class="hljs-string">'cdn endpoint'</span>, type: <span class="hljs-string">'script or css'</span>, callback: <span class="hljs-literal">undefined</span>},
        ... <span class="hljs-comment">// more objects if we need them</span>
    ]</code></pre>

<p>We can create a variable called <code>assets</code> like the above or we can just call our function with the above data structure straight in our function’s parameter. Finally.. lets load our assets. As a rule of thumb, I like to load my CSS assets vendor first. Meaning I load the Twitter Bootstrap CSS and then followed by my own CSS. This ensures that any customization in the styles of my application get rendered correctly.</p>

<p>We wont apply a callback to any other resource aside from the jQuery one, which is the only one we really care about. Its the only dependency. Call this function at the bottom of your last line in <code>intern.js</code>. </p>

<pre class="prettyprint"><code class="language-js hljs ">DOMUtils.loadAssets([
    { 
        source : <span class="hljs-string">"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"</span>,
        type : <span class="hljs-string">"css"</span>,
        callback: <span class="hljs-literal">undefined</span>
    },
    {
        source : <span class="hljs-string">"/css/cover.css"</span>,
        type : <span class="hljs-string">"css"</span>,
        callback: <span class="hljs-literal">undefined</span>
    },
    {
        source : <span class="hljs-string">"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"</span>,
        type : <span class="hljs-string">"script"</span>,
        callback : DOMUtils.jQueryLoaded
    }
]);</code></pre>

<p>Now every time you refresh, you should see your pretty <code>intern.html</code> page without having to call <code>getFile</code> manually for each asset.</p>

<h1 id="module-3-synchronous-vs-asynchronous">Module 3: Synchronous vs. Asynchronous</h1>

<hr>

<p><strong>Asynchronous</strong>: not going at the same rate and exactly together with something else, in particular.</p>

<p>Well, that’s ambiguous. Up until now, we’ve been loading our jQuery synchronously. The following example will demonstrate loading scripts synchronously. We need the Twitter Bootstrap JavaScript that comes with the framework to proceed further, so lets go ahead and pull that asset from a CDN. Our <code>DOMUtils</code> module is becoming more useful, right? I need to simply include it in my <em>array of objects</em> that is the parameter to our function <code>loadAssets</code>.</p>



<pre class="prettyprint"><code class="language-js hljs ">DOMUtils.loadAssets([
    { 
        source : <span class="hljs-string">"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"</span>,
        type : <span class="hljs-string">"css"</span>,
        callback: <span class="hljs-literal">undefined</span>
    },
    {
        source : <span class="hljs-string">"/css/cover.css"</span>,
        type : <span class="hljs-string">"css"</span>,
        callback: <span class="hljs-literal">undefined</span>
    },
    {
        source : <span class="hljs-string">"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"</span>,
        type : <span class="hljs-string">"script"</span>,
        callback : DOMUtils.jQueryLoaded
    },
    {
        source : <span class="hljs-string">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"</span>,
        type : <span class="hljs-string">"script"</span>,
        callback : <span class="hljs-literal">undefined</span>
    }
]);</code></pre>

<p>Cool. So this successfully loads the Twitter Bootstrap script and we now can take advantage of the numerous features that they offer. Lets switch the positions of the objects that represent jQuery and Bootstrap.</p>



<pre class="prettyprint"><code class="language-js hljs ">    {
        source : <span class="hljs-string">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"</span>,
        type : <span class="hljs-string">"script"</span>,
        callback : <span class="hljs-literal">undefined</span>
    },
    {
        source : <span class="hljs-string">"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"</span>,
        type : <span class="hljs-string">"script"</span>,
        callback : DOMUtils.jQueryLoaded
    }</code></pre>

<p>Open your Google Dev Tools using <code>F12</code> and selecting <code>open drawer</code> at the top right of the tools. Now refresh a couple times. Eventually you’ll notice a JavaScript error thrown by Bootstrap that says:</p>

<p><code>Uncaught Error: Bootstrap's JavaScript requires jQuery</code></p>

<p>We have a dependency issue. The easy solution is to keep your files in order starting vendor first. This isn’t preferable, however. </p>

<p>What happens if we want to load <em>everything</em> asynchronously? Why would you want to load everything asynchronously? Well if a third party vendor (like Google) goes down or is slow, your page won’t be held up trying to load that resource. Loading your scripts asynchronously increases the speed in which your application loads by preventing <strong>resource blocking</strong>. </p>

<p>The solution is to attach a <code>async</code> attribute to the script element that you’re dynamically allocating in <code>getFile</code>. The inherent problem with this method is that if we have two resources that are being fetched in parallel with no order associated, how do we guarantee that the dependency loads <em>before</em> the dependee? Here is one strategy:</p>

<h3 id="task-1-load-your-assets-asynchronously">Task 1: Load your assets asynchronously</h3>

<hr>

<ol>
<li><p>Revisit <code>DOMUtils.getFile(source, type, callback)</code> and for the condition where we’re creating a <code>&lt;script&gt;</code> element, give the element an async attribute with value <code>true</code>.</p>

<pre class="prettyprint"><code class="language-js hljs ">element.async = <span class="hljs-literal">true</span>;</code></pre></li>
<li><p>Run the same <code>DOMUtils.loadAssets(...)</code>function a couple times by refreshing the page. This time, the order of the script objects don’t matter, as we’re running everything in parallel. You should eventually get the same error thrown by Twitter Bootstrap:</p>

<p><code>Uncaught Error: Bootstrap's JavaScript requires jQuery</code></p>

<p>The solution to this problem is to create a sort of synchronous load order of the asynchronous script assets. We need to first load jQuery, test to see if jQuery has indeed loaded, and then load Twitter Bootstrap’s JavaScript.</p></li>
<li><p>Remove the Twitter Bootstrap JavaScript object from your <em>array of objects</em> as part of the parameter to <code>loadAssets</code>. Modify the <code>jQueryLoaded</code> callback in the <code>DOMUtils</code> module so that we can test for jQuery’s existence before we make a call to get the Twitter Bootstrap JavaScript.</p>

<pre class="prettyprint"><code class="language-js hljs ">jQueryLoaded : <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> jQuery !== <span class="hljs-string">'undefined'</span>) {
        DOMUtils.changeLead(<span class="hljs-string">"I have my styles now, I'm so comfy and warm"</span>);
        DOMUtils.loadAssets([{
            source : <span class="hljs-string">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"</span>,
            type : <span class="hljs-string">"script"</span>,
            callback : <span class="hljs-literal">undefined</span>
        }]);
    }
}</code></pre>

<p>Notice here that we’re making an additional call to <code>loadAssets</code> as part of the callback function to the jQuery asset of the initially call to <code>loadAssets</code>:</p>

<pre class="prettyprint"><code class="language-js hljs "> {
    source : <span class="hljs-string">"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"</span>,
    type : <span class="hljs-string">"script"</span>,
    callback : DOMUtils.jQueryLoaded
}</code></pre>

<p>We append the script (which has the asynchronous attribute) and when it loads,  jQuery as a module <em>exports</em> a <strong>global variable</strong> called <code>jQuery</code> and the short hand version, <code>$</code>. The <code>&lt;script&gt;</code>’s <em>event listener</em> <code>onload</code> calls our function, <code>jQueryLoaded</code>. We’ve modified our callback function <code>jQueryLoaded</code> to test for the existence of the global variable <code>jQuery</code>. If the object, <code>jQuery</code> exists, we’re safe to load our dependent scripts! Thus we make another call to <code>loadAssets</code> to bring in our Twitter Bootstrap JavaScript. You should no longer get any dependency errors stemming from Bootstrap in the console. Our scripts are ready to rock.</p></li>
</ol>

<p>A quick note about global variables from w3schools: A variable declared outside a function, becomes GLOBAL. A global variable has global scope: All scripts and functions on a web page can access it.</p>

<p>Be careful of what you define as <em>global</em>. Namespace collisions happen when you have too many definitions in the global space. The best practice is to leverage the module pattern we’ve discussed.</p>

<footer>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img alt='error' src='http://i.imgur.com/smyj0.jpg'><br><br>
            <div class='text-center'>
                <p>Lovely accent you have there. New Jersey?</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="js/kurt.js"></script>
</body>
</html>